.sidebar {
  height: 100%;
  background: #44ADA8;
  overflow: auto;
  user-select: none;
  color: white;
}

.sidebar > h2 {
  font-weight: 500;
  padding: 30px;
  border-bottom: 1px solid #51b8b3;
}

.sidebar > ul {
  list-style: none;
}

.sidebar > ul > li {
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border-left: 5px solid #44ADA8;
}

.sidebar > ul > li:hover {
  background: #51b8b3;
}

.sidebar .active {
    border-left: 5px solid white;
    background: #51b8b3;
}