.container {
  border-block: 1px solid #cccccc;
  min-height: 60px;
  width: 100%;
  padding-block: 15px;
}

.container > div > span {
  opacity: .6;
  font-size: 14px;
  color: #5c5c5c;
}

.container > div:first-child > p {
  margin-top: 5px;
}

.container > div svg {
  min-width: 21px;
  width: 0;
  margin-right: 10px;
  cursor: pointer;
}

.container > div:last-child {
  display: flex;
  align-items: center;
  opacity: .8;
  margin-top: 15px;
}

.container > div:last-child p {
  font-size: 14px;
}